@import "styles/mixins.scss";

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("~/public/assets/images/background.png");

  background-size: cover;
}

.menu-page {
  background: #32333f;
}
