@import "styles/fonts.scss";
@import "styles/mixins.scss";

.mode {
  display: flex;
  color: #ffffff;
  align-items: center;
  font-family: MerriweatherSans, sans-serif;
  font-size: 14px;
  border-radius: 7px;
  min-width: 44vw;
  min-height: 14vw;

  &__img {
    width: 25%;
    margin-left: 3vw;
    position: relative;

    &__icon {
      position: absolute;
      left: 33%;
      bottom: 50%;
    }
  }

  &::after {
    position: absolute;
    content: "";
    background-image: url("~/public/assets/images/modes/fire.png");
    background-repeat: no-repeat;
    opacity: 0.3;
    min-width: inherit;
    min-height: inherit;
    background-size: contain;
  }

  &:active {
    @include activeBtnEffect;
  }
}
