.modes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  position: absolute;
  top: 65%;
  left: 0;

  @media screen and (max-height: 668px) {
    top: 68%;
  }
}

.game-slots {
  background-color: #4d583b;
}

.live-casino {
  background-color: #783d3d;
}

.promotions {
  background-color: #36474d;
}

.tournaments {
  background-color: #5b3d69;
}
